.page {
	font-size: 20px;
	line-height: 1.6;
}

.page__body {
	--scrollbar: calc(100vw - 100%);
	--page-indent: 1rem;

	box-sizing: border-box;
	margin-block: 0;
	margin-inline: var(--page-indent) calc(var(--page-indent) - var(--scrollbar));
}

.page__content {
	box-sizing: border-box;
	margin: auto;
	inline-size: 100%;
	max-inline-size: 56ch;
}

figure {
	box-sizing: border-box;
	margin: 0;
	inline-size: 100%;
	overflow: auto;
}

footer {
	text-align: center;
}
